
p, h1, h2, h3, h4, h5, h6, a, input, button, pre, div {
	font-family: "Work Sans", sans-serif;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
}

a {
	color: $color-rust;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

big {
	font-size: 125%;
}


h1 {
	font-size: 32px;
	line-height: 38px;
	font-weight: 600;
}

h2 {
	font-size: 25px;
	line-height: 33px;
	font-weight: 600;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	max-width: none;
}

h3 {
	font-size: 21px;
	line-height: 28px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: left;
}

h4 {
	text-transform: uppercase;
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	margin-top: 10px;
}

h5 {
	font-size: 17px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0.1px;
	margin-bottom: 10px;
}

h6 {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 4px;
	margin-top: 12px;
	font-weight: 700;
}






// Larger than mobile
@media (min-width: $mobile-end) {

	p {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 19px;
		line-height: 26px;
		font-weight: 500;
	}



	h1 {
		font-size: 46px;
		line-height: 60px;
		font-weight: 600;
	}

	h2 {
		font-size: 30px;
		line-height: 38px;
		font-weight: 600;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		max-width: none;
	}

	h3 {
		font-size: 26px;
		line-height: 42px;
		font-weight: 500;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
	}

	h4 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		font-weight: 700;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
	}

	h5 {
		font-size: 22px;
		line-height: 32px;
		letter-spacing: 0.2px;
	}
	


	
}
